<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Khand:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body id="homepage">
	<header id="header">
		<div class="page-wrapper">
			<a href="/"><img id="logo" src="../images/logo.png" alt="Polar Bear Logo"/></a>
			<nav id="mainNav">
				<h2 class="hidden">Main Navigation</h2>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">Wish List</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<?php require_once "listprofile.php" ?>
	<main id="main">
		<div class="page-wrapper">
			<section id="banner1" class="section">
				<h2 class="hidden">Homepage banner</h2>
				<img src="../images/banner.png" alt="Gifts idea"/>
				<div class="slogan1">Explore. Connect. Give</div>
				<div class="slogan2">Browsing through gifts made easy.</div>
				<div class="btn"><a href="#">Browse through our products</a></div>
			</section>
			<section id="search">
				<h2 class="hidden">Search bar</h2>
				<input type="text" name="search" placeholder="Search for products..." class="search_bar"/>
				<input type="button" value="search" class="search_btn"/>
			</section>
		</div>
	</main>
	<footer id="footer">
		<div class="footer-wrapper">
			<div id="list" >
				<h2 class="hidden">Footer Navigation</h2>
				<ul>
					<li><h2>Company Info</h2></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">Programs</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Privacy Statement</a></li>
					<li><a href="#">careers</a></li>
				</ul>
				<ul>
					<li><h2>For Members</h2></li>
					<li><a href="#">My Customer Care</a></li>
					<li><a href="#">Mobile Apps</a></li>
					<li><a href="#">Wedding Resources</a></li>
					<li><a href="#">Baby Vendors</a></li>
				</ul>
				<ul>
					<li><h2>For Guests</h2></li>
					<li><a href="#">Members Directory</a></li>
					<li><a href="#">Find Somebody's Registry</a></li>
				</ul>
				<ul>
					<li><h2>NonProfits/Organizations</h2></li>
					<li><a href="#">Fundraising</a></li>
					<li><a href="#">Cash Gift Services</a></li>
					<li><a href="#">Pre-Screened Retailers</a></li>
					<li><a href="#">FAQs</a></li>
				</ul>
				<ul>
					<li><h2>For Merchants</h2></li>
					<li><a href="#">Gift Registry Software</a></li>
					<li><a href="#">Fundraising</a></li>
					<li><a href="#">Merchant Log in</a></li>
					<li><a href="#">Advertising with Us</a></li>
				</ul>
			</div>
			<div class="icons">
				<i class="fa fa-facebook-square fa-3x" id="fb"></i>
				<i class="fa fa-twitter-square fa-3x" id="tw"></i>
				<i class="fa fa-pinterest-square fa-3x" id="pi"></i>
				<i class="fa fa-instagram fa-3x"></i>
				<i class="fa fa-tumblr-square fa-3x"></i>
				<i class="fa fa-youtube-square fa-3x"></i>
			</div>
		</div>
		<div id="copyright">&copy; 2016 Polar Bear Gifts</div>
	</footer>
</body>
</html>