table{
    border:2px solid black;
    margin-bottom:25px;
}
td{
    margin:0;
    padding:2px 5px;
    border-top:1px dashed black;
    text-align:center;
    font-size:0.8rem;
}
th{
    padding:2px 10px;
}
label{
    display:inline-block;
    width:150px;
    font-weight:bold;
    padding-bottom:5px;
}
form{
    padding:20px;
}
#create_button{
    text-decoration:none;
    color:#fff;
    border-radius:5px;
    padding:15px;
    background-color:#000;
}
#create_button:hover{
    text-decoration:underline;
}

#back_button{
    text-decoration:none;
    color:#fff;
    border-radius:5px;
    padding:15px;
    background-color:#000;
    float:right;
    margin-right:50px;
}
#create_button:hover{
    text-decoration:underline;
}
h2{
    font-size:1.2rem;
    margin:5px;
    color:mediumslateblue;
}